body {
  width: 100%;
  height: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
}

.active {
  background-color: aqua;
}

.controls button:hover {
  background-color: aquamarine;
  border: solid 2px black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 3px solid black;
  width: 300px;
  height: 300px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.instructions span {
  font-weight: bold;
}

.mobile-controls {
  display: flex;
  column-gap: 6rem;
}

.mobile-controls .arrow-keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.mobile-controls div button {
  width: 3rem;
  aspect-ratio: 1/1;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}

.shooter {
  background-color: green;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}

@keyframes color-clicked {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: blueviolet;
  }
}

@keyframes color-clicked-shoot {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: orange;
  }
}

.clicked {
  background-color: lightgray;
  animation: color-clicked 0.2s;
}

.clicked-shoot {
  background-color: lightgray;
  animation: color-clicked-shoot 0.2s;
}

/* Media queries for responsive controls */

@media (min-width: 769px) {
  /* Show desktop controls on screens wider than 768px */
  .mobile-controls {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Show mobile controls on screens narrower than 768px */
  .mobile-controls {
    display: flex; /* Show mobile controls */
  }
  body {
    overflow-y: visible;
  }
}
