body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  /* justify-content: center; */
  overflow-y: hidden;
}

.active {
  background-color: aqua;
}

.controls button:hover {
  background-color: aquamarine;
  border: solid 2px black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 3px solid black;
  width: 300px;
  height: 300px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.instructions span {
  font-weight: bold;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}

.shooter {
  background-color: green;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}
