body{
    color:blue;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: none;
}
.main h3{
    margin-bottom:0;
}
.main p{
    margin-bottom:0;
}
.buttons{
    background: yellow;
    border:5px solid black;
    width:60rem;
    height:max-content;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    row-gap: 0.5rem;
}
.buttons a button{
    padding:0.5rem;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    cursor:pointer;
    margin-bottom:0.5rem;
}
.buttons a button:hover{
    transform:scale(1.05);
    box-shadow:black 5px 5px;
    border:3px solid black;
}