# Core libraries
streamlit==1.44.1
pandas==2.2.3
numpy==2.2.5
matplotlib==3.8.4

# Forecasting + Stats
statsmodels==0.14.2
scikit-learn==1.4.2

# Optional: for date parsing, formatting, etc.
python-dateutil==2.9.0.post0

# Optional but often useful for plots or visuals
seaborn==0.13.2

datasets==2.18.0